/* movie.css */
.details {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size:100%;
  background-position: center;
  padding: 80px; /* Adjust padding as needed */
  border: 1px solid black;

}

.details-movie {
  margin-left: 20px;
  color: white; /* Change text color to white for better readability */
}

.movie-title {
  font-size: 44px;
  margin-bottom: 10px;
}

.movie-description {
  font-size: 16px;
  margin-bottom: 10px;
}

.movie-release {
  font-size: 14px;
  margin-bottom: 10px;
}

button {
  background-color: orange;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: darkorange;
}
