
.cards :hover{
  cursor: pointer;
  transform: scale (1.1); 
}

.cards {
  display: flex;
  align-items: flex-start;
  justify-content: space-between; 
  padding-left: 30px;
 
}

.card-body {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}
.details {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px; 
  border: 1px solid black;
  background-size: 100%;
  min-height: 200vh;
}

.details-movie {
  margin-left: 20px;
  color: white; 
}

.movie-title {
  font-size: 44px;
  margin-bottom: 10px;
}

.movie-description {
  font-size: 16px;
  margin-bottom: 10px;
}

.movie-release {
  font-size: 14px;
  margin-bottom: 10px;
}





.category-badge {
  background-color: transparent; 
  color: #6c757d; 
  border: 1px solid #6c757d; 
}

.heart{
  position: absolute;
  bottom: 10px; 
  right: 10px; 
  width: 30px; 
  height: auto; 
  border: 0px;
  background-color: transparent;
  size:30px;
  
} 

.video-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
}

.video {
  width: 760px; 
  height: 415px;
  border: none; 
}

.video-title {
  font-size: 18px;
  margin-top: 10px;
}

.reservation-button1{
  background-color: orange;
  border-radius: 15px;
  height:60px;
  width:250px;

}


@media (max-width : 576px) {
  .video-container {
    width: 100%;
    display: flex;
    justify-content: center; /* Center the video container horizontally */
    align-items: center; /* Center the video container vertically */
    flex-direction: column; /* Stack elements vertically */
  }

  .video {
    width: 360px; 
    height: 215px;
    border: none; 
  }

  .details {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center;
    align-items: center;
    padding: 60px; 
    border: 1px solid black;
    background-size: 100%;
  }
  
  .details-movie {
    margin-top: 20px; /* Move details below the video */
    color: white; 
    text-align: center; /* Center text */
  }
  
  .movie-title {
    font-size: 15px;
    margin-bottom: 10px;
  }
  
  .movie-description {
    font-size: 8px;
    margin-bottom: 10px;
  }
  
  .movie-release {
    font-size: 10px;
    margin-bottom: 10px;
  }

  .img-sng-cards {
    width: 100%; /* Ensure image takes full width */
    order: -1; /* Move image above other elements */
    margin-bottom: 20px; /* Add spacing below image */
  }
}
@media (max-width : 480px) {
  .video {
    width: 160px; 
    height: 115px;
    border: none; 
  }
}

@media (max-width : 768px) {
  .video {
    width: 560px; 
    height:315px;
  }
}









