/* movie.css */
.cards :hover{
  cursor: pointer;
  transform: scale (1.1); 
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between; /* Align cards' content to the start of the flex container */
}

.card-body {
  display: flex;
  justify-content: space-between; /* Space elements evenly, with the heart icon pushed to the right */
  align-items: center; /* Align items vertically */
}
.details {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size:100%;
  background-position: center;
  padding: 80px; /* Adjust padding as needed */
  border: 1px solid black;

}

.details-movie {
  margin-left: 20px;
  color: white; /* Change text color to white for better readability */
}

.movie-title {
  font-size: 44px;
  margin-bottom: 10px;
}

.movie-description {
  font-size: 16px;
  margin-bottom: 10px;
}

.movie-release {
  font-size: 14px;
  margin-bottom: 10px;
}

button {
  background-color: orange;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: darkorange;
}

.category-badge {
  background-color: transparent; /* Override Bootstrap background color */
  color: #6c757d; /* Set custom text color */
  border: 1px solid #6c757d; /* Add border */
}

.heart{
  position: absolute;
  bottom: 10px; 
  right: 10px; 
  width: 30px; 
  height: auto; 
}