.details{
    color:black;
}

.movie-list{
    padding: 30px;
    
}


/* login style*/
.form-body {
    background-image:  url('https://png.pngtree.com/thumb_back/fh260/background/20211217/pngtree-movie-ending-background-image_922729.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    padding: 80px;
    background-color: rgba(255, 255, 255, 0.5);
    height:740px
}

.form {
    text-align: center;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 30%;
    height:400px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: white;
    background-color: rgba(0, 0, 0, 0.5); 
    padding-left: 30px;
    padding-bottom: 30px;
}

.login-title {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input {
    border: 2px solid orange;
    color: blue;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
}

input:focus {
    outline: none;
    border-color: dodgerblue;
}


/*Signup form*/

.signup-form-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #607d8b ;
  }
  
  .signup-form {
    background-color: #b0bec5;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .signup-title {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .error-message {
    color: red;
    margin-top: 5px;
  }
  
  .submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
  }
  
  .submit-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  

