* {
  box-sizing: border-box;
}

.details{
    color:black;
}

.movies-list {
  width: 100vw; 
  margin: 0 ;
  padding: 0;
}


/* login style*/
.form-body {
    background-image:  url('https://png.pngtree.com/thumb_back/fh260/background/20211217/pngtree-movie-ending-background-image_922729.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    padding: 80px;
    background-color: rgba(255, 255, 255, 0.5);
    height:740px
}

.form {
    text-align: center;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 30%;
    height:400px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: white;
    background-color: rgba(0, 0, 0, 0.5); 
    padding-left: 30px;
    padding-bottom: 30px;
}

.login-title {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input {
    border: 2px solid orange;
    color: blue;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
}

input:focus {
    outline: none;
    border-color: dodgerblue;
}
@media (min-width: 480px) {
  .form {
    max-width: 350px;
    margin: 0 auto;
    padding: 20px;
  }
}

@media (min-width: 576px) {
  .form {
    max-width: 450px;
    margin: 0 auto;
    padding: 20px;
  }
}


@media (min-width: 768px) {
  .form {
    max-width: 500px;
  }
}


@media (min-width: 992px) {
  .form {
    max-width: 600px;
  }
}

/*Signup form*/

.signup-form-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #607d8b ;
  }
  
  .signup-form {
    background-color: #b0bec5;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .signup-title {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .error-message {
    color: red;
    margin-top: 5px;
  }
  
  .submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
  }
  
  .submit-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  

  /*ticket css*/

  .ticket-container {
    padding: 30px;
  }
  
  .ticket {
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
  }
  
  .ticket-header {
    margin-bottom: 15px;
  }
  
  .ticket-title {
    font-size: 1.5rem;
    color: #333;
  }
  
  .ticket-details {
    display: flex;
    flex-direction: column;
  }
  
  .ticket-info {
    margin-bottom: 10px;
  }
  
  .ticket-icon {
    margin-right: 10px;
    vertical-align: middle;
  }
  
  .ticket-text {
    font-size: 1rem;
  }
  
  .ticket-button {
    background-color: #4caf50;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
  }
  
  .ticket-button:hover {
    background-color: #45a049;
  }

  .ticket-delete-button {
    background-color: red;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    margin-left: 10px;
  }
  
  .ticket-delete-button:hover {
    background-color: #b71c1c ;
  }



  
  .link {
    text-decoration: none;
    color: #3f51b5;
  }
  
  .link:hover {
    text-decoration: underline;
    color: #1a237e;
  }
  
  /*modal style*/

  .custom-modal {
    max-width: 400px;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
  }
  
  .input-field {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  

  /* style for table*/
  .ticket-table-container {
    padding: 20px;
  }
  
  .edit-table {
    margin-top: 20px;
  }
  
  .edit-table th {
    background-color: #b0bec5; 
  }
  
  .edit-table td {
    padding: 10px;
  }
  
  .edit-table .ant-table-tbody > tr:hover > td {
    background-color: #b0bec5; /* Hover effect */
  }
  
  @media (max-width: 480px) {
    .ticket-table-container {
      padding: 10px; 
    }
    
    .edit-table {
      margin-top: 10px; 
      font-size: 12px; 
    }
    
    .edit-table td {
      padding: 5px; 
    }
  }
  
  @media (min-width: 481px) and (max-width: 576px) {
    .ticket-table-container {
      padding: 15px; 
    }
  }
  
  @media (min-width: 577px) and (max-width: 768px) {
    .ticket-table-container {
      padding: 20px; 
    }
  }
  
  @media (min-width: 769px) and (max-width: 992px) {
    .ticket-table-container {
      padding: 25px; 
    }
  }
  
  @media (min-width: 993px) and (max-width: 1200px) {
    .ticket-table-container {
      padding: 30px; 
    }
  }